:root {
  font-family: "alice", serif;
  line-height: 150%;
  /* font-size: 16px; */
  color: #573A37;
}


img {
  border-radius: 16px;
}

body {
  background-color: rgb(89, 69, 44);
  background-image: url(./assets/bg-image.png);
  background-size: cover;
  
}

#page {
  width: 800px;
  background-color: #F0E8C2;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  margin: 48px auto;
}

h1 {
  line-height: 140%; 
  font-size: 40px; 
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
}